.row {
    display: flex;
    justify-content: center;
}

.tile {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
    font-size: 10px;
    background: wheat;
}

.tile.BLACK {
    background: darkgray;
}

.empty-tile {
    height: 100%;
    width: 100%;
}

.empty-tile.available-for-move {
    background-color: cadetblue;
    opacity: 0.5;
}

.figure {
    background-image: url("../assets/ChessPiecesSprite.png");
    background-size: 450px;
    height: 100%;
    width: 100%;
}

.figure.selected {
    background-color: greenyellow;
    opacity: 0.5;
}

.figure.underAttack {
    background-color: palevioletred;
    opacity: 0.5;
}

.figure.W-King {
    background-position: 3px 1px;
}

.figure.W-Queen {
    background-position: -71px 1px;
}

.figure.W-Minister {
    background-position: -147px 1px;
}

.figure.W-Horseman {
    background-position: -223px 1px;
}

.figure.W-Rood {
    background-position: -296px 1px;
}

.figure.W-Pond {
    background-position: -371px 1px;
}

.figure.B-King {
    background-position: 3px -74px;
}

.figure.B-Queen {
    background-position: -71px -74px;
}

.figure.B-Minister {
    background-position: -147px -74px;
}

.figure.B-Horseman {
    background-position: -223px -74px;
}

.figure.B-Rood {
    background-position: -296px -74px;
}

.figure.B-Pond {
    background-position: -371px -74px;
}

.contacts {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.username {
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 15px;
}

.players {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
