<div>

    <div *ngIf="gameState.board">
        <div class="username">You are: {{myName}}</div>
        <div class="players">{{gameState.whiteSideSessionId}} (white) vs. {{gameState.blackSideSessionId}} (black)</div>
        <div style="text-align: center; margin-bottom: 15px;">Player to move: <span class="username">{{gameState.sideToMove === 'WHITE' ? gameState.whiteSideSessionId : gameState.blackSideSessionId}}</span></div>

        <div *ngFor="let row of gameState.board.tiles as rowTiles; index as i; first as isFirstRow" class="row">
            <div *ngFor="let tile of row as tiles; index as j; first as isFirstTile" class="tile {{tile.side}}">
                <div *ngIf="tile.figure"
                     class="figure {{figureName(tile.figure)}}"
                     [ngClass]="{'selected': isSelected(tile.figure), 'underAttack': tile.underAttack}"
                     (click)="onFigureClick(tile.figure)">
                </div>
                <div *ngIf="!tile.figure"
                     class="empty-tile"
                     [ngClass]="{'available-for-move': tile.availableForMove}"
                     (click)="onTileClick(i, j)"></div>
            </div>
        </div>

        <div class="contacts">
            <div><a href="https://bitbucket.org/ezmeev/online.chess.js/overview" target="_blank">JS client repo lenk</a>
            </div>
            <div><a href="https://bitbucket.org/ezmeev/online.chess/overview" target="_blank">Backend repo link</a>
            </div>
        </div>

        <div class="reset" (click)="reset()">reset</div>
    </div>
</div>
